{% extends "_frame.html" %}

{% block main %}
<div class="fly-panel" style="margin-bottom: 0;">
  <div class="fly-panel-title fly-filter">
    <a>讨论与问答</a>
  </div>
  <ul class="fly-list">
    <li>
      <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
        <i class="layui-icon layui-icon-username" style="font-size: 30px; color: #dddfe0;" alt="user"></i>
      </a>
      <h2>
        <a class="layui-badge">分享</a>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
      </h2>
      <div class="fly-list-info">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
          <cite>user-5</cite>
          <!--
          <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
          <i class="layui-badge fly-badge-vip">VIP3</i>
          -->
        </a>
        <span>刚刚</span>

        <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
        <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
        <span class="fly-list-nums">
          <i class="iconfont icon-pinglun1" title="回答"></i> 66
        </span>
      </div>
      <div class="fly-list-badge">
        <!--<span class="layui-badge layui-bg-red">精帖</span>-->
      </div>
    </li>
    <li>
      <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
        <i class="layui-icon layui-icon-username" style="font-size: 30px; color: #dddfe0;" alt="user"></i>
      </a>
      <h2>
        <a class="layui-badge">动态</a>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
      </h2>
      <div class="fly-list-info">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
          <cite>user</cite>
          <!--<i class="iconfont icon-renzheng" title="认证信息：XXX"></i>-->
          <!-- <i class="layui-badge fly-badge-vip">VIP3</i> -->
        </a>
        <span>刚刚</span>

        <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
        <!-- <span class="layui-badge fly-badge-accept layui-hide-xs">已结</span> -->
        <span class="fly-list-nums">
          <i class="iconfont icon-pinglun1" title="回答"></i> 66
        </span>
      </div>
      <div class="fly-list-badge">
        <span class="layui-badge layui-bg-red">精帖</span>
      </div>
    </li>
    <li>
      <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
        <i class="layui-icon layui-icon-username" style="font-size: 30px; color: #dddfe0;" alt="user"></i>
      </a>
      <h2>
        <a class="layui-badge">动态</a>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
      </h2>
      <div class="fly-list-info">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
          <cite>user</cite>
          <!--
          <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
          <i class="layui-badge fly-badge-vip">VIP3</i>
          -->
        </a>
        <span>刚刚</span>

        <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
        <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
        <span class="fly-list-nums">
          <i class="iconfont icon-pinglun1" title="回答"></i> 66
        </span>
      </div>
      <div class="fly-list-badge">
        <!--<span class="layui-badge layui-bg-red">精帖</span>-->
      </div>
    </li>
    <li>
      <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
        <i class="layui-icon layui-icon-username" style="font-size: 30px; color: #dddfe0;" alt="user"></i>
      </a>
      <h2>
        <a class="layui-badge">动态</a>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
      </h2>
      <div class="fly-list-info">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
          <cite>user</cite>
          <!--
          <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
          <i class="layui-badge fly-badge-vip">VIP3</i>
          -->
        </a>
        <span>刚刚</span>

        <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
        <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
        <span class="fly-list-nums">
          <i class="iconfont icon-pinglun1" title="回答"></i> 66
        </span>
      </div>
      <div class="fly-list-badge">
        <!--<span class="layui-badge layui-bg-red">精帖</span>-->
      </div>
    </li>
    <li>
      <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
        <img src="" alt="user">
      </a>
      <h2>
        <a class="layui-badge">动态</a>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
      </h2>
      <div class="fly-list-info">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
          <cite>user</cite>
          <!--
          <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
          <i class="layui-badge fly-badge-vip">VIP3</i>
          -->
        </a>
        <span>刚刚</span>

        <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
        <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
        <span class="fly-list-nums">
          <i class="iconfont icon-pinglun1" title="回答"></i> 66
        </span>
      </div>
      <div class="fly-list-badge">
        <!--<span class="layui-badge layui-bg-red">精帖</span>-->
      </div>
    </li>
    <li>
      <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
        <img src="" alt="user">
      </a>
      <h2>
        <a class="layui-badge">动态</a>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
      </h2>
      <div class="fly-list-info">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
          <cite>user</cite>
          <!--
          <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
          <i class="layui-badge fly-badge-vip">VIP3</i>
          -->
        </a>
        <span>刚刚</span>

        <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
        <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
        <span class="fly-list-nums">
          <i class="iconfont icon-pinglun1" title="回答"></i> 66
        </span>
      </div>
      <div class="fly-list-badge">
        <!--<span class="layui-badge layui-bg-red">精帖</span>-->
      </div>
    </li>
    <li>
      <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
        <img src="" alt="user">
      </a>
      <h2>
        <a class="layui-badge">动态</a>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
      </h2>
      <div class="fly-list-info">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
          <cite>user</cite>
          <!--
          <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
          <i class="layui-badge fly-badge-vip">VIP3</i>
          -->
        </a>
        <span>刚刚</span>

        <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
        <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
        <span class="fly-list-nums">
          <i class="iconfont icon-pinglun1" title="回答"></i> 66
        </span>
      </div>
      <div class="fly-list-badge">
        <!--<span class="layui-badge layui-bg-red">精帖</span>-->
      </div>
    </li>
    <li>
      <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
        <img src="" alt="user">
      </a>
      <h2>
        <a class="layui-badge">动态</a>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
      </h2>
      <div class="fly-list-info">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
          <cite>user</cite>
          <!--
          <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
          <i class="layui-badge fly-badge-vip">VIP3</i>
          -->
        </a>
        <span>刚刚</span>

        <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
        <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
        <span class="fly-list-nums">
          <i class="iconfont icon-pinglun1" title="回答"></i> 66
        </span>
      </div>
      <div class="fly-list-badge">
        <!--<span class="layui-badge layui-bg-red">精帖</span>-->
      </div>
    </li>
    <li>
      <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
        <img src="" alt="user">
      </a>
      <h2>
        <a class="layui-badge">动态</a>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
      </h2>
      <div class="fly-list-info">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
          <cite>user</cite>
          <!--
          <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
          <i class="layui-badge fly-badge-vip">VIP3</i>
          -->
        </a>
        <span>刚刚</span>

        <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
        <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
        <span class="fly-list-nums">
          <i class="iconfont icon-pinglun1" title="回答"></i> 66
        </span>
      </div>
      <div class="fly-list-badge">
        <!--<span class="layui-badge layui-bg-red">精帖</span>-->
      </div>
    </li>
    <li>
      <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
        <img src="" alt="user">
      </a>
      <h2>
        <a class="layui-badge">动态</a>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
      </h2>
      <div class="fly-list-info">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
          <cite>user</cite>
          <!--
          <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
          <i class="layui-badge fly-badge-vip">VIP3</i>
          -->
        </a>
        <span>刚刚</span>

        <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
        <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
        <span class="fly-list-nums">
          <i class="iconfont icon-pinglun1" title="回答"></i> 66
        </span>
      </div>
      <div class="fly-list-badge">
        <!--<span class="layui-badge layui-bg-red">精帖</span>-->
      </div>
    </li>
    <li>
      <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
        <img src="" alt="user">
      </a>
      <h2>
        <a class="layui-badge">动态</a>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
      </h2>
      <div class="fly-list-info">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
          <cite>user</cite>
          <!--
          <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
          <i class="layui-badge fly-badge-vip">VIP3</i>
          -->
        </a>
        <span>刚刚</span>

        <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
        <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
        <span class="fly-list-nums">
          <i class="iconfont icon-pinglun1" title="回答"></i> 66
        </span>
      </div>
      <div class="fly-list-badge">
        <!--<span class="layui-badge layui-bg-red">精帖</span>-->
      </div>
    </li>
    <li>
      <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
        <img src="" alt="user">
      </a>
      <h2>
        <a class="layui-badge">动态</a>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
      </h2>
      <div class="fly-list-info">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
          <cite>user</cite>
          <!--
          <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
          <i class="layui-badge fly-badge-vip">VIP3</i>
          -->
        </a>
        <span>刚刚</span>

        <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
        <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
        <span class="fly-list-nums">
          <i class="iconfont icon-pinglun1" title="回答"></i> 66
        </span>
      </div>
      <div class="fly-list-badge">
        <!--<span class="layui-badge layui-bg-red">精帖</span>-->
      </div>
    </li>
  </ul>
  <div style="text-align: center">
    <div class="laypage-main">
      <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/index.html" class="laypage-next">更多</a>
    </div>
  </div>

</div>

{% endblock %}
