{% extends "_frame.html" %}

{% block main %}

<div class=" fly-panel" style="margin-bottom: 0;">
    <div class="fly-panel-title fly-filter">
      <a>每日心得</a>
      <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/index.html#signin" class="layui-hide-sm layui-show-xs-block fly-right" id="LAY_goSignin" style="color: #FF5722;">去签到</a>
    </div>
    <ul class="fly-list">
      <li style="min-height:60px; height: auto;">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
          <i class="layui-icon layui-icon-username" style="font-size: 30px; color: #dddfe0;" alt="user"></i>
        </a>
        <h2>
          <!-- <a class="layui-badge">分享</a> -->
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">今日心得-1</a>
        </h2>
        <div class="fly-list-info">
          <p>心得内容内容内容</p>
        </div>
        <img src="/static/pics/sky1.webp" style="width: 400px; height: 300px;">
        <div class="fly-list-info">
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
            <cite>user-1</cite>
            <!--
            <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
            <i class="layui-badge fly-badge-vip">VIP3</i>
            -->
          </a>
        </div>
        <div class="fly-list-info" style="bottom: 0px;">
          <span>刚刚</span>

          <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
          <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
          <span class="fly-list-nums">
            <i class="layui-icon layui-icon-heart" style="font-size: 20px;"></i>
          </span>
        </div>
        <!-- <div class="fly-list-badge">
          <span class="layui-badge layui-bg-red">精帖</span>
        </div> -->
      </li>
      <li style="min-height:60px; height: auto;">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
          <i class="layui-icon layui-icon-username" style="font-size: 30px; color: #dddfe0;" alt="user"></i>
        </a>
        <h2>
          <!-- <a class="layui-badge">动态</a> -->
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">今日心得-1</a>
        </h2>
        <div class="fly-list-info">
          <p>心得内容心得内容</p>

        </div>
        <div class="fly-list-info">
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
            <cite>user-2</cite>
            <!--<i class="iconfont icon-renzheng" title="认证信息：XXX"></i>-->
            <!-- <i class="layui-badge fly-badge-vip">VIP3</i> -->
          </a>
          <span>刚刚</span>

          <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
          <!-- <span class="layui-badge fly-badge-accept layui-hide-xs">已结</span> -->
          <span class="fly-list-nums">
            <i class="layui-icon layui-icon-heart" style="font-size: 20px;"></i>
          </span>
        </div>
        <!-- <div class="fly-list-badge">
          <span class="layui-badge layui-bg-red">精帖</span>
        </div> -->
      </li>
      <li style="min-height:60px; height: auto;">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
          <i class="layui-icon layui-icon-username" style="font-size: 30px; color: #dddfe0;" alt="user"></i>
        </a>
        <h2>
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">心得-1</a>
        </h2>
        <div class="fly-list-info">
          <p>心得内容心得内容</p>

        </div>
        <div class="fly-list-info">
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
            <cite>user</cite>
            <!--
            <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
            <i class="layui-badge fly-badge-vip">VIP3</i>
            -->
          </a>
          <span>刚刚</span>

          <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
          <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
          <span class="fly-list-nums">
            <i class="layui-icon layui-icon-heart" style="font-size: 20px;"></i>
          </span>
        </div>
        <div class="fly-list-badge">
          <!--<span class="layui-badge layui-bg-red">精帖</span>-->
        </div>
      </li>
      <li style="min-height:60px; height: auto;">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
          <i class="layui-icon layui-icon-username" style="font-size: 30px; color: #dddfe0;" alt="user"></i>
        </a>
        <h2>
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">心得-1</a>
        </h2>
        <div class="fly-list-info">
          <p>心得内容心得内容</p>

        </div>
        <div class="fly-list-info">
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
            <cite>user</cite>
            <!--
            <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
            <i class="layui-badge fly-badge-vip">VIP3</i>
            -->
          </a>
          <span>2021-8-6</span>

          <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
          <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
          <span class="fly-list-nums">
            <i class="layui-icon layui-icon-heart" style="font-size: 20px;"></i>
          </span>
        </div>
        <div class="fly-list-badge">
          <!--<span class="layui-badge layui-bg-red">精帖</span>-->
        </div>
      </li>
      <li>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
          <img src="" alt="user">
        </a>
        <h2>
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
        </h2>
        <div class="fly-list-info">
          <p>心得内容心得内容</p>

        </div>
        <div class="fly-list-info">
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
            <cite>user</cite>
            <!--
            <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
            <i class="layui-badge fly-badge-vip">VIP3</i>
            -->
          </a>
          <span>刚刚</span>

          <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
          <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
          <span class="fly-list-nums">
            <i class="layui-icon layui-icon-heart" style="font-size: 20px;"></i>
          </span>
        </div>
        <div class="fly-list-badge">
          <!--<span class="layui-badge layui-bg-red">精帖</span>-->
        </div>
      </li>
      <li>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
          <img src="" alt="user">
        </a>
        <h2>
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
        </h2>
        <div class="fly-list-info">
          <p>心得内容心得内容</p>

        </div>
        <div class="fly-list-info">
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
            <cite>user</cite>
            <!--
            <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
            <i class="layui-badge fly-badge-vip">VIP3</i>
            -->
          </a>
          <span>刚刚</span>

          <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
          <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
          <span class="fly-list-nums">
            <i class="layui-icon layui-icon-heart" style="font-size: 20px;"></i>
          </span>
        </div>
        <div class="fly-list-badge">
          <!--<span class="layui-badge layui-bg-red">精帖</span>-->
        </div>
      </li>
      <li>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
          <img src="" alt="user">
        </a>
        <h2>
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
        </h2>
        <div class="fly-list-info">
          <p>心得内容心得内容</p>

        </div>
        <div class="fly-list-info">
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
            <cite>user</cite>
            <!--
            <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
            <i class="layui-badge fly-badge-vip">VIP3</i>
            -->
          </a>
          <span>刚刚</span>

          <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
          <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
          <span class="fly-list-nums">
            <i class="layui-icon layui-icon-heart" style="font-size: 20px;"></i>
          </span>
        </div>
        <div class="fly-list-badge">
          <!--<span class="layui-badge layui-bg-red">精帖</span>-->
        </div>
      </li>
      <li>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
          <img src="" alt="user">
        </a>
        <h2>
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
        </h2>
        <div class="fly-list-info">
          <p>心得内容心得内容</p>

        </div>
        <div class="fly-list-info">
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
            <cite>user</cite>
            <!--
            <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
            <i class="layui-badge fly-badge-vip">VIP3</i>
            -->
          </a>
          <span>刚刚</span>

          <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
          <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
          <span class="fly-list-nums">
            <i class="layui-icon layui-icon-heart" style="font-size: 20px;"></i>
          </span>
        </div>
        <div class="fly-list-badge">
          <!--<span class="layui-badge layui-bg-red">精帖</span>-->
        </div>
      </li>
      <li>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
          <img src="" alt="user">
        </a>
        <h2>
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
        </h2>
        <div class="fly-list-info">
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
            <cite>user</cite>
            <!--
            <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
            <i class="layui-badge fly-badge-vip">VIP3</i>
            -->
          </a>
          <span>刚刚</span>

          <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
          <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
          <span class="fly-list-nums">
            <i class="layui-icon layui-icon-heart" style="font-size: 20px;"></i>
          </span>
        </div>
        <div class="fly-list-badge">
          <!--<span class="layui-badge layui-bg-red">精帖</span>-->
        </div>
      </li>
      <li>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
          <img src="" alt="user">
        </a>
        <h2>
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
        </h2>
        <div class="fly-list-info">
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
            <cite>user</cite>
            <!--
            <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
            <i class="layui-badge fly-badge-vip">VIP3</i>
            -->
          </a>
          <span>刚刚</span>

          <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
          <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
          <span class="fly-list-nums">
            <i class="layui-icon layui-icon-heart" style="font-size: 20px;"></i>
          </span>
        </div>
        <div class="fly-list-badge">
          <!--<span class="layui-badge layui-bg-red">精帖</span>-->
        </div>
      </li>
      <li>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
          <img src="" alt="user">
        </a>
        <h2>
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
        </h2>
        <div class="fly-list-info">
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
            <cite>user</cite>
            <!--
            <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
            <i class="layui-badge fly-badge-vip">VIP3</i>
            -->
          </a>
          <span>刚刚</span>

          <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
          <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
          <span class="fly-list-nums">
            <i class="layui-icon layui-icon-heart" style="font-size: 20px;"></i>
          </span>
        </div>
        <div class="fly-list-badge">
          <!--<span class="layui-badge layui-bg-red">精帖</span>-->
        </div>
      </li>
      <li>
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" class="fly-avatar">
          <img src="" alt="user">
        </a>
        <h2>
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/detail.html">web测试模板-1</a>
        </h2>
        <div class="fly-list-info">
          <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/user/home.html" link="">
            <cite>user</cite>
            <!--
            <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
            <i class="layui-badge fly-badge-vip">VIP3</i>
            -->
          </a>
          <span>刚刚</span>

          <!-- <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span> -->
          <!--<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>-->
          <span class="fly-list-nums">
            <i class="layui-icon layui-icon-heart" style="font-size: 20px;"></i>
          </span>
        </div>
        <div class="fly-list-badge">
          <!--<span class="layui-badge layui-bg-red">精帖</span>-->
        </div>
      </li>
    </ul>
    <div style="text-align: center">
      <div class="laypage-main">
        <a href="https://www.17sucai.com/preview/1971132/2020-04-29/fly-3.0/html/jie/index.html" class="laypage-next">更多</a>
      </div>
    </div>

</div>


{% endblock %}