{% extends "_frame.html" %}

{% block main %}

<!-- 内容主体区域 -->
  <!--9/12-->
<div class="layui-row layui-col-space10" style="padding:50px; line-height:400px;">
  <div class="layui-col-md6">
    <div class="intro layui-row" style="line-height: 260px;">
      <div class="layui-col-md12">
        <a href="Intro-1.html">
          <div class="introTitle" style="bottom: 0%;">
            介绍
          </div>
          <img class="introImg" src="/static/pics/Intro.webp" style="width: 583px; height: 260px;">
        </a>
      </div>
    </div>
    <div class="intro layui-row" style="line-height: 200px; padding-top: 15px;">
      <div class="layui-col-md12">
        <a href="Intro-1.html">
          <div class="introTitle" style="bottom: 0%;">
            知识
          </div>
          <img class="introImg" src="/static/pics/sky1.webp" style="width: 583px; height: 260px;">
        </a>
      </div>
    </div>
    <div class="intro layui-row" style="line-height: 200px; padding-top: 15px;">
      <div class="layui-col-md12">
          <a href="Intro-1.html">
            <div class="introTitle" style="bottom: 0%;">
              修行故事
            </div>
            <img class="introImg" src="/static/pics/sky1.webp" style="width: 583px; height: 260px;">
          </a>
      </div>
    </div>
  </div>
  <div class="layui-col-md3" style="padding-left: 25px;">
    <div class="activity layui-row">
      <div class="layui-col-md12">
        <a href="Activity-1.html">
          <div class="activityTitle">
            心得
          </div>
          <img class="activityImg" src="/static/pics/Activity.webp">
        </a>
      </div>
    </div>
    <div class="activity layui-row" style="padding-top: 15px;">
      <div class="layui-col-md12">
        <a href="Activity-1.html">
          <div class="activityTitle">
            公告
          </div>
          <img class="activityImg" src="/static/pics/Activity.webp">
        </a>
      </div>
    </div>
  </div>
  <div class="layui-col-md3" style="padding-left: 25px;">
    <div class="activity layui-row">
      <div class="layui-col-md12">
        <a href="Activity-1.html">
          <div class="activityTitle">
            活动
          </div>
          <img class="activityImg" src="/static/pics/Activity.webp">
        </a>
      </div>
    </div>
    <div class="activity layui-row" style="padding-top: 15px;">
      <div class="layui-col-md12">
        <a href="Activity-1.html">
          <div class="activityTitle">
            讨论
          </div>
          <img class="activityImg" src="/static/pics/Activity.webp">
        </a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="frontPage" style="padding: 20px;">
  <div style="padding: 20px; height: 400px;">
    <a href="Intro-1.html">
      <div class="intro" style="padding-top: 20px;">
        <img class="introImg" src="sky1.webp">
        <div class="introTitle">
          介绍
        </div>
      </div>
    </a>
    <a href="Activity-1.html">
      <div class="activity" style="padding-top: 20px;">
        <img class="activityImg" src="sky2.webp">
      </div>
    </a>
    <a href="Activity-1.html">
      <div class="experience" style="padding-top: 20px;">
        <img class="activityImg" src="sky2.webp">
      </div>
    </a>
  </div>
  <div style="padding: 20px; height: 400px;">
    <a>
      <div class="intro">
        <img class="activityImg" src="sky2.webp">
      </div>
    </a>
  </div>
</div> -->

{% endblock %}