{% extends "_frame.html" %}

{% block main %}

<!-- 内容主体区域 -->
<div class="layui-row layui-col-space10" style="padding:20px; line-height:400px;">
  <div class="layui-col-md6">
    <div class="intro layui-row" style="line-height: 260px;">
      <div class="layui-col-md12">
        <a href="/intro">
          <div class="introTitle" style="bottom: 0%;">
            介绍
          </div>
          <img class="introImg" src="/static/pics/Intro.webp" style="width: 583px; height: 260px;">
        </a>
      </div>
    </div>
    <div class="intro layui-row" style="line-height: 200px; padding-top: 15px;">
      <div class="layui-col-md12">
        <a href="/intro">
          <div class="introTitle" style="bottom: 0%;">
            知识
          </div>
          <img class="introImg" src="/static/pics/sky1.webp" style="width: 583px; height: 260px;">
        </a>
      </div>
    </div>
    <div class="intro layui-row" style="line-height: 200px; padding-top: 15px;">
      <div class="layui-col-md12">
          <a href="/story">
            <div class="introTitle" style="bottom: 0%;">
              修行故事
            </div>
            <img class="introImg" src="/static/pics/sky1.webp" style="width: 583px; height: 260px;">
          </a>
      </div>
    </div>
  </div>
  <div class="layui-col-md3" style="padding-left: 25px;">
    <div class="activity layui-row">
      <div class="layui-col-md12">
        <a href="/exp">
          <div class="activityTitle">
            心得
          </div>
          <img class="activityImg" src="/static/pics/Activity.webp">
        </a>
      </div>
    </div>
    <div class="activity layui-row" style="padding-top: 15px;">
      <div class="layui-col-md12">
        <a href="/">
          <div class="activityTitle">
            公告
          </div>
          <img class="activityImg" src="/static/pics/Activity.webp">
        </a>
      </div>
    </div>
  </div>
  <div class="layui-col-md3" style="padding-left: 25px;">
    <div class="activity layui-row">
      <div class="layui-col-md12">
        <a href="/activity">
          <div class="activityTitle">
            活动
          </div>
          <img class="activityImg" src="/static/pics/Activity.webp">
        </a>
      </div>
    </div>
    <div class="activity layui-row" style="padding-top: 15px;">
      <div class="layui-col-md12">
        <a href="/discuss">
          <div class="activityTitle">
            讨论
          </div>
          <img class="activityImg" src="/static/pics/Activity.webp">
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}