{% extends "_frame.html" %}

{% block main %}
  <!--9/12-->
<h1 style="text-align: center; font-size: 40px;">静坐禅修介绍</h1>
<div style="padding: 5%; font-size: 25px; line-height: 2;">
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;她，北京大学文学硕士，2017年时，42岁。她想要读博士，因为她觉得，没有博士学位，自己就没有实现既定人生目标，不算成功，但体能、学能确实已明显下降，怎么办？坚持吗？无力。放弃吗？不甘。
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;2018年夏天，幸运的她偶遇泰国高僧，开始接触静坐，每次静坐后都比静坐之前更开心更有力量。后来，她又两次去泰国学习静坐。到现在，静坐了三年，积累下许多：更健康；学习或做事更有效率；更多坦然、自如与快乐……
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;那么，她读博了吗？并没有。现在的她，体能、学能已可完全胜任读博，但她选择了把有限且宝贵的时间和精力放在这里。因为她希望更多的人和她一样，体会到身入窘境却豁然开朗的欣喜和希望，感受到路越走越宽的踏实与坦然。
  </p>
  <br>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;心理学上有个关键概念叫“吸引力法则”。或许是源于这个法则，这三年里她接触到很多也热爱静坐的朋友，于是有了——我们。我们都曾经或正在通过静坐在身心方面有着不同程度的收获，比如皮肤变好、气质提升，比如体质增强、慢性病改善，比如不爱发脾气不易焦虑了，比如学习或工作能力提高，比如与人交往更顺畅和谐，比如面对人事时内心更坚定平稳且又平和柔软……于是，大家的人生也伴随着更多顺利和如意。用比较文学性的词语就是，通过静坐，进可自力更生扶摇直上，退可心甘气爽天高地阔。
  </p>
  <br>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;有人说，生命是一段旅程，要懂得享受和体验。我们觉得，生命更是一场探索，因为其实我们往往并不真的了解自己或者真的爱自己，直到我们开始学会内向探索。
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;在这浮华尘世，在车水马龙的熙熙攘攘之中，通过静坐，我们探索自己的内在世界；通过探索自己的内在世界，我们沟通外在世间。
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;在静坐的道路上，我们会觉察会发现，更会惊喜不断。
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;我们不知不觉与自己和解，与世界和解，不经意间更爱自己，更爱这个世界。
  </p>
  <br>
  <p style="text-align: center;">
    &nbsp;&nbsp;&nbsp;&nbsp;所以，您愿意一起来踏上静坐之旅吗？
  </p>
  <p style="text-align: center;">
    &nbsp;&nbsp;&nbsp;&nbsp;愿意更健康、更美好、更快乐与更成功吗？
  </p>
  <p style="text-align: center;">
    &nbsp;&nbsp;&nbsp;&nbsp;愿意让生活再多一个利己助他的美善维度吗？
  </p>
  <p style="text-align: center;">
    &nbsp;&nbsp;&nbsp;&nbsp;愿意始终前行在不断迈向生命新高度的道路上吗？
  </p>
  <br>
  <p style="text-align: center;">
    &nbsp;&nbsp;&nbsp;&nbsp;如果您愿意，
  </p>
  <p style="text-align: center;">
    &nbsp;&nbsp;&nbsp;&nbsp;这里，就是起点！
  </p>
  <br>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;在这里，我们可以学习和了解静坐的方法，也可以参与活动互相鼓励；可以汲取同道中人的经验收获，也可以把自己的成功心得分享给大家借鉴；可以有自己的私密小天地记录自己的静坐与日常，也可以了解到名人、成功人士的成长故事。
  </p>
  <br>
  <p style="text-align: center; font-size: 30px;">
    那么，现在就开始吧！
  </p>
</div>
{% endblock %}
      