{% extends "_frame.html" %}

{% block main %}

<div class="layui-col-md3">
    <div class="layui-panel site-menu" style="height: 750px;">
        <div class="layui-menu-body-title" style="text-align: center; padding: 10px;">消息列表</div>
        <hr>
        <ul class="contact-list">
            <li class="layui-menu-item-checked2" style="padding: 10px; background-color: #F6F6F6;">
                <div class="layui-menu-body-title">
                    <a href="">
                        <span>网站公告</span>
                    </a>
                </div>
            </li>
            <!--登录状态-->
            {% if user!=null %}
            <li style="padding: 10px;">
                <div class="layui-menu-body-title">
                    <a href="">
                        <span>用户甲乙丙</span>
                    </a>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="layui-col-md9">
    <div class="layui-panel site-content" style="height: 750px; background: #F6F6F6;">
        <div class="layui-menu-body-title" style="text-align: center; padding: 10px;">网站公告</div>
        <hr>
        <div class="layui-panel" style="padding: 50px; left: 130px; width: 60%;">
            公告
            <br>
            公告内容 blablablbalblalbla
        </div>
        <div class="layui-panel" style="padding: 50px; left: 130px; top: 50px; width: 60%;">
            公告
            <br>
            公告内容blablablablbalbal
        </div>
    </div>
</div>

{% endblock %}