{% extends "_frame.html" %}

{% block main %}
<!-- 内容主体区域 -->
  <!--9/12-->
<div class="layui-card">
  <div class="layui-card-header" style="font-size: 25px; padding: 2%;">登录</div>
  <div class="layui-card-body">
    <form method="post" action="/signin" class="layui-form" style="font-size: 15px; padding-top: 1%;">
        {% if error != null %}
        <div class="layui-form-item">
        <p id="error" class="text-danger">{{ error }}</p>
        </div>
        {% endif %}
      <div class="layui-form-item">
        <label class="layui-form-label">登录手机号</label>
        <div class="layui-input-inline">
          <input name="phone" type="phone" required lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
          <input name="password" type="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div style="padding:30px; text-align: center;">
        <button type="submit" class="layui-btn layui-btn-radius layui-btn-primary layui-btn-fluid layui-border-blue">登录</button>
      </div>
      <div style="padding:30px; text-align: center;">
          <a href="/register"><button class="layui-btn layui-btn-radius layui-btn-primary layui-btn-fluid layui-border-blue">还没有账户？点击注册</button></a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
