{% extends "_frame.html" %}

{% block main %}
<!-- <blockquote class="layui-elem-quote layui-quote-nm">知止而后有定，定而后能静，静而后能安，安而后能虑，虑而后能得。————《礼记·大学》</blockquote> -->
<div style="background-color: cornflowerblue; width: auto; height: 70; text-align: center; color: white; padding: 50px; font-family: KaiTi; font-size: 25px;">
  知止而后有定，定而后能静，静而后能安，安而后能虑，虑而后能得。————《礼记·大学》
</div>

<fieldset class="layui-elem-field layui-field-title">
    <legend style="font-size: 50px; font-family: LiSu;">修行故事（1）</legend>
    <div class="layui-field-box">
      <p style="font-size: 30px; padding: 50px; font-family: STXingkai;">
        &nbsp;&nbsp;&nbsp;&nbsp;1483年，王阳明在北京的私塾读书。有一天，他一本正经地问老师：“何谓第一等事？”这相当于是在问，人生的终极价值是什么？
        他的老师吃了一惊，因为从来没有学生问过他这样的问题。但他还是很快作出了坚定的回答：“当然是读书做大官啊！”
        王阳明严肃地看着老师说：“我认为不是这样。”顿了顿，一脸郑重地继续说道：“我以为第一等事应是读书做圣贤。”
        中国有句老话，叫三岁看老。中国的古人，也一向高度强调立志的重要性。王阳明从小立志做圣贤，后来果然成为圣贤，则为此作出了最好的诠释和证明。
        立志为什么重要？因为志向就是意志，就是方向。只有如此，人在有限的时间精力和复杂的现实之下，才可能意志坚定、少走弯路，而大大提高完成目标的可能性。
      </p>
    </div>
</fieldset>

{% endblock %}